@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: content-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;

  font-family: 'Nunito', sans-serif;
  text-align: center;

  background: rgb(134, 167, 78);
  background: linear-gradient(
    25deg,
    rgba(134, 167, 78, 1) 0%,
    rgba(54, 223, 255, 1) 100%
  );
}

#titulo {
  font-size: 3rem;
  color: #fff;
}

#descripcion {
  color: #fff;
}

#imagen {
  width: 200px;
}
